@font-face
{
   font-family: "Material Icons";
   font-display: swap;
   src: url('../fonts/MaterialIcons-Regular.woff2') format('woff2'),
        url('../fonts/MaterialIcons-Regular.woff') format('woff'),
        url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
}
@font-face
{
   font-family: "Captain Icon";
   font-display: swap;
   src: url('../fonts/captainicon.woff2') format('woff2'),
        url('../fonts/captainicon.woff') format('woff'),
        url('../fonts/oldcaptainicon.ttf') format('truetype'),
        url('../fonts/captainicon.svg#captainicon') format('svg'),
        url('../fonts/captainicon.eot') format('embedded-opentype');
}
@-webkit-keyframes animate-background
{
   0% { background-color: #FFD700;  }
   100% { background-color: #FFC000;  }
}
@-moz-keyframes animate-background
{
   0% { background-color: #FFD700;  }
   100% { background-color: #FFC000;  }
}
@keyframes animate-background
{
   0% { background-color: #FFD700;  }
   100% { background-color: #FFC000;  }
}
@-webkit-keyframes animate-border
{
   0% { border-color: #000000;  }
   100% { border-color: #FF0000;  }
}
@-moz-keyframes animate-border
{
   0% { border-color: #000000;  }
   100% { border-color: #FF0000;  }
}
@keyframes animate-border
{
   0% { border-color: #000000;  }
   100% { border-color: #FF0000;  }
}
@-webkit-keyframes animate-classic-movie-text
{
   0% { text-shadow: 0px 0px 0 #bcbcbc, 0px 0px 0 #9c9c9c;;  }
   100% { text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;  }
}
@-moz-keyframes animate-classic-movie-text
{
   0% { text-shadow: 0px 0px 0 #bcbcbc, 0px 0px 0 #9c9c9c;;  }
   100% { text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;  }
}
@keyframes animate-classic-movie-text
{
   0% { text-shadow: 0px 0px 0 #bcbcbc, 0px 0px 0 #9c9c9c;;  }
   100% { text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;  }
}
@-webkit-keyframes animate-fade-in-up
{
   0% { -webkit-transform: translate(0px,100px) rotate(0deg) ; opacity: 0;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@-moz-keyframes animate-fade-in-up
{
   0% { -moz-transform: translate(0px,100px) rotate(0deg) ; opacity: 0;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@keyframes animate-fade-in-up
{
   0% { transform: translate(0px,100px) rotate(0deg) ; opacity: 0;  }
   100% { transform: translate(0px,0px) rotate(0deg) ; opacity: 1;  }
}
@-webkit-keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@-moz-keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@-webkit-keyframes animate-font-size
{
   0% { font-size: 100%;  }
   50% { font-size: 200%;  }
   100% { font-size: 100%;  }
}
@-moz-keyframes animate-font-size
{
   0% { font-size: 100%;  }
   50% { font-size: 200%;  }
   100% { font-size: 100%;  }
}
@keyframes animate-font-size
{
   0% { font-size: 100%;  }
   50% { font-size: 200%;  }
   100% { font-size: 100%;  }
}
@-webkit-keyframes jello-horizontal
{
   0% { -webkit-transform: rotateX(0deg) ;  }
   30% { -webkit-transform: rotateX(0deg) scale3d(1.25,0.75,1.0) ;  }
   40% { -webkit-transform: rotateX(0deg) scale3d(0.75,1.25,1.0) ;  }
   50% { -webkit-transform: rotateX(0deg) scale3d(1.15,0.85,1.0) ;  }
   65% { -webkit-transform: rotateX(0deg) scale3d(0.95,1.05,1.0) ;  }
   75% { -webkit-transform: rotateX(0deg) scale3d(1.05,0.95,1.0) ;  }
   100% { -webkit-transform: rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@-moz-keyframes jello-horizontal
{
   0% { -moz-transform: rotateX(0deg) ;  }
   30% { -moz-transform: rotateX(0deg) scale3d(1.25,0.75,1.0) ;  }
   40% { -moz-transform: rotateX(0deg) scale3d(0.75,1.25,1.0) ;  }
   50% { -moz-transform: rotateX(0deg) scale3d(1.15,0.85,1.0) ;  }
   65% { -moz-transform: rotateX(0deg) scale3d(0.95,1.05,1.0) ;  }
   75% { -moz-transform: rotateX(0deg) scale3d(1.05,0.95,1.0) ;  }
   100% { -moz-transform: rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@keyframes jello-horizontal
{
   0% { transform: rotateX(0deg) ;  }
   30% { transform: rotateX(0deg) scale3d(1.25,0.75,1.0) ;  }
   40% { transform: rotateX(0deg) scale3d(0.75,1.25,1.0) ;  }
   50% { transform: rotateX(0deg) scale3d(1.15,0.85,1.0) ;  }
   65% { transform: rotateX(0deg) scale3d(0.95,1.05,1.0) ;  }
   75% { transform: rotateX(0deg) scale3d(1.05,0.95,1.0) ;  }
   100% { transform: rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@-webkit-keyframes transform-bounce
{
   0% { -webkit-transform: rotate(0deg) ;  }
   20% { -webkit-transform: rotate(0deg) ;  }
   40% { -webkit-transform: translate(0px,-30px) rotate(0deg) ;  }
   50% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
   60% { -webkit-transform: translate(0px,-15px) rotate(0deg) ;  }
   80% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-moz-keyframes transform-bounce
{
   0% { -moz-transform: rotate(0deg) ;  }
   20% { -moz-transform: rotate(0deg) ;  }
   40% { -moz-transform: translate(0px,-30px) rotate(0deg) ;  }
   50% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
   60% { -moz-transform: translate(0px,-15px) rotate(0deg) ;  }
   80% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
}
@keyframes transform-bounce
{
   0% { transform: rotate(0deg) ;  }
   20% { transform: rotate(0deg) ;  }
   40% { transform: translate(0px,-30px) rotate(0deg) ;  }
   50% { transform: translate(0px,0px) rotate(0deg) ;  }
   60% { transform: translate(0px,-15px) rotate(0deg) ;  }
   80% { transform: translate(0px,0px) rotate(0deg) ;  }
   100% { transform: translate(0px,0px) rotate(0deg) ;  }
}
h1, .h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2, .h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3, .h3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4, .h4
{
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5, .h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6, .h6
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
@media only screen and (min-width: 1024px) and (max-width: 1097px)
{
}
@media only screen and (min-width: 768px) and (max-width: 1023px)
{
}
@media only screen and (min-width: 480px) and (max-width: 767px)
{
}
@media only screen and (max-width: 479px)
{
}
