@font-face
{
   font-family: "CaptainIcon";
   font-display: swap;
   src: url('../fonts/captainicon.woff2') format('woff2'),
        url('../fonts/captainicon.woff') format('woff'),
        url('../fonts/captainicon.ttf') format('truetype'),
        url('../fonts/captainicon.svg#captainicon') format('svg');
}
@font-face
{
   font-family: "Pixellari";
   font-display: swap;
   src: url('../fonts/Pixellari.woff2') format('woff2'),
        url('../fonts/Pixellari.woff') format('woff'),
        url('../fonts/Pixellari.ttf') format('truetype'),
        url('../fonts/Pixellari.svg#Pixellari') format('svg'),
        url('../fonts/Pixellari.eot') format('embedded-opentype');
}
@-webkit-keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@-moz-keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@-webkit-keyframes jello-horizontal
{
   0% { -webkit-transform: rotateX(0deg) ;  }
   30% { -webkit-transform: rotateX(0deg) scale3d(1.25,0.75,1.0) ;  }
   40% { -webkit-transform: rotateX(0deg) scale3d(0.75,1.25,1.0) ;  }
   50% { -webkit-transform: rotateX(0deg) scale3d(1.15,0.85,1.0) ;  }
   65% { -webkit-transform: rotateX(0deg) scale3d(0.95,1.05,1.0) ;  }
   75% { -webkit-transform: rotateX(0deg) scale3d(1.05,0.95,1.0) ;  }
   100% { -webkit-transform: rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@-moz-keyframes jello-horizontal
{
   0% { -moz-transform: rotateX(0deg) ;  }
   30% { -moz-transform: rotateX(0deg) scale3d(1.25,0.75,1.0) ;  }
   40% { -moz-transform: rotateX(0deg) scale3d(0.75,1.25,1.0) ;  }
   50% { -moz-transform: rotateX(0deg) scale3d(1.15,0.85,1.0) ;  }
   65% { -moz-transform: rotateX(0deg) scale3d(0.95,1.05,1.0) ;  }
   75% { -moz-transform: rotateX(0deg) scale3d(1.05,0.95,1.0) ;  }
   100% { -moz-transform: rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@keyframes jello-horizontal
{
   0% { transform: rotateX(0deg) ;  }
   30% { transform: rotateX(0deg) scale3d(1.25,0.75,1.0) ;  }
   40% { transform: rotateX(0deg) scale3d(0.75,1.25,1.0) ;  }
   50% { transform: rotateX(0deg) scale3d(1.15,0.85,1.0) ;  }
   65% { transform: rotateX(0deg) scale3d(0.95,1.05,1.0) ;  }
   75% { transform: rotateX(0deg) scale3d(1.05,0.95,1.0) ;  }
   100% { transform: rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@-webkit-keyframes transform-bounce
{
   0% { -webkit-transform: rotate(0deg) ;  }
   20% { -webkit-transform: rotate(0deg) ;  }
   40% { -webkit-transform: translate(0px,-30px) rotate(0deg) ;  }
   50% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
   60% { -webkit-transform: translate(0px,-15px) rotate(0deg) ;  }
   80% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-moz-keyframes transform-bounce
{
   0% { -moz-transform: rotate(0deg) ;  }
   20% { -moz-transform: rotate(0deg) ;  }
   40% { -moz-transform: translate(0px,-30px) rotate(0deg) ;  }
   50% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
   60% { -moz-transform: translate(0px,-15px) rotate(0deg) ;  }
   80% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
}
@keyframes transform-bounce
{
   0% { transform: rotate(0deg) ;  }
   20% { transform: rotate(0deg) ;  }
   40% { transform: translate(0px,-30px) rotate(0deg) ;  }
   50% { transform: translate(0px,0px) rotate(0deg) ;  }
   60% { transform: translate(0px,-15px) rotate(0deg) ;  }
   80% { transform: translate(0px,0px) rotate(0deg) ;  }
   100% { transform: translate(0px,0px) rotate(0deg) ;  }
}
a.Style1
{
   color: #232B2B;
   text-decoration: none;
}
a.Style1:visited
{
   color: #232B2B;
   text-decoration: none;
}
a.Style1:active
{
   color: #232B2B;
   text-decoration: underline;
}
a.Style1:hover
{
   color: #232B2B;
   text-decoration: underline;
}
h1, .h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2, .h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3, .h3
{
   font-family: Arial;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4, .h4
{
   font-family: Arial;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5, .h5
{
   font-family: Arial;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6, .h6
{
   font-family: Arial;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000080;
   background-color: transparent;
}
@media only screen and (min-width: 768px) and (max-width: 968px)
{
}
@media only screen and (max-width: 767px)
{
}
